MONGO_URI="mongodb+srv://<username>:<password>@cluster0.yrrvwrm.mongodb.net/<database>?retryWrites=true&w=majority"
TOKEN_KEY=""
HASHING_SECRET=""
BASE_URL=""

FRONTEND_LOCALHOST_URL="http://localhost:3081"

OPENAI_ORGANIZATION=""
OPENAI_API_KEY=""

PYTHON_COMMAND="python"
